* {
  outline: 1px solid red;
  outline-offset: -1px;
  color: #1e2d1d;
}

body,
h1,
p {
  margin: 0;
  padding: 0;
}

body {
  background: #f9f7ea;
  margin: 1.5em;
}

header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 7rem;
}

h1 {
  margin-bottom: 3rem;
}

h2 {
  /* padding: 0;
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 0.6rem; */
}

.divTwo {
  /* margin: 0 0 1rem; */
}

nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#cursiveImgDiv {
  width: 100%;
}

#cursiveImg {
  width: 6rem;
  height: 2.2rem;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

#studyingMammoth {
  width: 100%;
}

#divThree {
  display: flex;
}

.splitSkillDivs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

footer {
  display: flex;
}

.footerDivs {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.noBullets {
  list-style: none;
  padding: 0;
  width: 100%;
}

#bulletPoints {
  display: flex;
  justify-content: flex-start;
}

#bulletPoints div {
  display: flex;
  align-items: flex-start;
}

html,
body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -100px;
  padding-bottom: 100px;
}
footer {
  height: 100px;
}
