/* Import files, and fonts */
@import "variables.less";

@font-face {
  font-family: "Alliance No. 1";
  src: url("../fonts/degarism_studio_-_alliance_no.1_light-webfont.woff2")
      format("woff2"),
    url("../fonts/degarism_studio_-_alliance_no.1_light-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Alliance No. 2";
  src: url("../fonts/degarism_studio_-_alliance_no.2_light-webfont.woff2")
      format("woff2"),
    url("../fonts/degarism_studio_-_alliance_no.2_light-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Universal CSS Reset */

* {
  // outline: 1px solid red;
  // outline-offset: -1px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Alliance No. 1";
  color: @mainColor;
}

/* Pre-set Styling Below */

a {
  text-decoration: none;
  color: @navLinksColor;

  span {
    padding-top: 0.333rem;
    color: @navLinksColor;
    font-family: "Alliance No. 1";

    &:hover {
      color: @mainColor;
    }
  }
}

h1,
h2 {
  font-family: "Alliance No. 2";
}

h3,
h4 {
  font-family: "Alliance No. 1";
}

h1 {
  font-size: 5.555rem;

  @media (max-width: @tablet) {
    font-size: 2.777rem;
  }
}

h2 {
  font-size: 3.33rem;

  @media (max-width: @tablet) {
    font-size: 2.777rem;
  }
}

h3 {
  font-size: 2.222rem;
  display: inline-block;

  @media (max-width: @tablet) {
    font-size: 1.333rem;
  }
}

section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1500px;
  padding: 5.555rem 1.666rem;
  padding-bottom: 0;

  @media (max-width: @tablet) {
    padding: 4.888rem 1.111rem;
    padding-bottom: 0;
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #fff;
}

/* Animations */

// Navbar Overline Animation
.animationNavBar {
  display: inline-block;
  position: relative;
}
.animationNavBar:after {
  content: "";
  width: 0px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  background: @mainColor;
  transition: 0.3s ease;
}
.animationNavBar:hover:after {
  width: 100%;
}
.animationNavBar:not(:hover):after {
  right: 0;
  left: auto;
}

// Button Underline Animation
.buttonAnimation {
  position: relative;
}
.buttonAnimation::after {
  position: absolute;
  content: "";
  background: @navLinksColor;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  transition: 333ms ease-out;
}
.buttonAnimation:hover::after {
  width: 0%;
  right: 0;
  left: auto;
}

// Border Animation Animation
.animationBorder {
  position: relative;
}
.animationBorderDONE::before {
  content: "";
  position: absolute;
  bottom: 0; /* Position at the bottom of the element. Adjust as needed */
  left: 0;
  width: 0; /* Start with no width */
  height: 1px; /* Height of the border line */
  background: @mainColor; /* Replace 'black' with your main color variable or value */
  animation: drawBorder 0.555s forwards; /* Animation for the border */
}

@keyframes drawBorder {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

// Fade Up ONE Animation Animation
.animationFadeUpOne {
  opacity: 0;
}
.animationFadeUpOneDONE {
  opacity: 0; /* Start fully transparent */
  transform: translateY(10px); /* Start 20 pixels below its final position */
  animation: fadeInUpOneAnimation 1s forwards; /* Animation name, duration, fill mode */
}

@keyframes fadeInUpOneAnimation {
  from {
    opacity: 0;
    transform: translateY(10px); /* Start from 20 pixels below */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End at its final position */
  }
}

// Fade Up TWO Animation Animation
.animationFadeUpTwo {
  opacity: 0;
}
.animationFadeUpTwoDONE {
  opacity: 0; /* Start fully transparent */
  transform: translateY(10px); /* Start 20 pixels below its final position */
  animation: fadeInUpTwoAnimation 1s forwards; /* Animation name, duration, fill mode */
}

@keyframes fadeInUpTwoAnimation {
  from {
    opacity: 0;
    transform: translateY(10px); /* Start from 20 pixels below */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End at its final position */
  }
}

/* Non-Preset Styling Starts Here! */

nav {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem 1.666rem;

  .navBarUL {
    list-style: none;
    display: flex;
    padding-top: 40px;
    font-size: 1rem;
    transition: padding-top 0.1s ease-in-out; /* Smooth transition for padding-top property */

    @media (max-width: @mobile) {
      overflow-x: scroll;
      -ms-scroll-snap-type: x;
      scroll-snap-type: x;
      scrollbar-width: none;
    }

    li {
      margin-right: 0.888rem;
    }
  }
}

.landingSection {
  h1 {
    width: 60%;
  }

  video {
    padding-top: 4.444rem;
    padding-bottom: @unit-unit-bottom-padding;

    @media (max-width: @tablet) {
      margin-top: 3.888rem;
    }
  }
}

.projectsSection {
  padding-top: @unit-unit-top-padding;

  .splitGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 1.666rem;
  }
  .projectTitle {
    padding-bottom: @unit-unit-bottom-padding;
    p {
      font-size: 2rem;
      width: 73%;
    }
  }

  .projectDiv {
    padding-top: @unit-unit-top-padding;
    padding-bottom: @unit-unit-bottom-padding;

    .projectDescriptionAndLink {
      display: flex;
      justify-content: space-between;
      font-size: 1.222rem;
      column-gap: 2.222rem;

      @media (max-width: @tablet) {
        flex-direction: column;
        row-gap: 1.333rem;
      }

      .projectLink {
        display: flex;
        justify-content: space-between;
        font-size: 1.444rem;

        > :nth-child(2) {
          padding-left: 5rem;
          margin-right: 0.555rem;
          transition: padding-left 300ms, margin 300ms;
        }

        > :nth-child(2) {
          @media (max-width: @tablet) {
            padding-bottom: 1.111rem;
          }
        }

        &:hover {
          a {
            color: #1e2124;
            opacity: 33%;
          }

          > :nth-child(2) {
            padding-left: 5.555rem;
            margin: 0;
            transition: padding-left 300ms, margin 300ms;
          }
        }
      }
    }
  }
}

.aboutSection {
  .aboutSector {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    column-gap: calc(1.666rem * 2);

    .aboutIntroDiv {
      grid-area: 1 / 1 / 2 / 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      row-gap: calc(2.222rem * 2);

      h3 {
        width: 66%;
      }

      .downloadResumeDiv {
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-rows: 1fr;
        font-size: 1.111rem;
        width: 55%;
        background-color: @mainColor;
        cursor: pointer;
        margin-bottom: @unit-unit-bottom-padding;
        transition: background-color 0.5s ease;

        > :nth-child(1) {
          text-align: left;
          padding: 1em;
        }
        > :nth-child(2) {
          text-align: right;
          padding: 1em;
        }

        a {
          color: #fff;
        }

        &:hover {
          background-color: @highlightColor;

          a {
            color: @mainColor;
          }
        }
      }
    }

    .glassWave3D {
      grid-area: 1 / 2 / 2 / 3;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .aboutDescriptionDiv {
    display: grid;
    grid-template-columns: 1.333fr 1.888fr;
    grid-template-rows: 1fr;
    padding-bottom: @unit-unit-bottom-padding;
    font-size: 1.111rem;

    > :nth-child(1) {
      margin-left: 6.66em;
    }
    > :nth-child(2) {
      margin-left: 9.99em;
    }
  }
}

.educationSection {
  .educationSector {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-bottom: @unit-unit-bottom-padding;

    .educationSecondHalfDiv {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      font-size: 1.222rem;
    }
  }
}

.skillSection {
  .skillSector {
    h1 {
      width: 60%;
      padding-bottom: @unit-unit-bottom-padding;
    }
  }
}
