/* Import fonts, statements and global settings */
@font-face {
  font-family: "Alliance No. 1";
  src: url("../fonts/degarism_studio_-_alliance_no.1_light-webfont.woff2") format("woff2"), url("../fonts/degarism_studio_-_alliance_no.1_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Alliance No. 2";
  src: url("../fonts/degarism_studio_-_alliance_no.2_light-webfont.woff2") format("woff2"), url("../fonts/degarism_studio_-_alliance_no.2_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Universal CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Alliance No. 1";
  color: #1e2124;
}
/* Remove default hyperlink styles */
a {
  text-decoration: none;
}
h1,
h2 {
  font-family: "Alliance No. 2";
}
h3,
h4 {
  font-family: "Alliance No. 1";
}
section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1500px;
  padding: 5.555rem 1.111rem;
  border-bottom: 1px solid #1e2124;
}
@media (max-width: 60rem) {
  section {
    padding: 4.444rem 1.111rem;
  }
}
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #fff;
}
nav {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem 1.111rem;
}
nav ul {
  list-style: none;
  display: flex;
  padding-top: 30px;
  font-size: 1rem;
  overflow-x: scroll;
  -ms-scroll-snap-type: x;
  scroll-snap-type: x;
  scrollbar-width: none;
}
nav ul li {
  margin-right: 0.888rem;
}
nav ul li a {
  color: #767676;
}
.sectionFirst h1 {
  font-size: 5.555rem;
  width: 70%;
}
@media (max-width: 60em) {
  .sectionFirst h1 {
    font-size: 2.777rem;
  }
}
.sectionFirst video {
  margin-top: 4.444rem;
  border-bottom: 10px solid #1e2124;
}
@media (max-width: 60rem) {
  .sectionFirst video {
    margin-top: 3.333rem;
  }
}
