/* Import fonts, statements and global settings */
@import "variables.less";

// @font-face {
//   font-family: "Alliance No. 1";
//   src: url("../fonts/degarism_studio_-_alliance_no.1_light-webfont.woff2")
//       format("woff2"),
//     url("../fonts/degarism_studio_-_alliance_no.1_light-webfont.woff")
//       format("woff");
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Alliance No. 2";
//   src: url("../fonts/degarism_studio_-_alliance_no.2_light-webfont.woff2")
//       format("woff2"),
//     url("../fonts/degarism_studio_-_alliance_no.2_light-webfont.woff")
//       format("woff");
//   font-weight: normal;
//   font-style: normal;
// }

/* Universal CSS Reset */

* {
  // outline: 1px solid red;
  // outline-offset: -1px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Alliance No. 1";
  color: @mainColor;
}

/* Remove default hyperlink styles */
a {
  text-decoration: none;
  color: @navLinksColor;

  span {
    padding-top: 0.333rem;
    color: @navLinksColor;

    &:hover {
      color: @mainColor;
    }
  }
}

// ----

h1,
h2 {
  font-family: "Alliance No. 2";
}

h3,
h4 {
  font-family: "Alliance No. 1";
}

h1 {
  font-size: 5.555rem;

  @media (max-width: @tablet) {
    font-size: 2.777rem;
  }
}

h2 {
  font-size: 3.33rem;

  @media (max-width: @tablet) {
    font-size: 2.777rem;
  }
}

h3 {
  font-size: 2.222rem;
  display: inline-block;
  @media (max-width: @tablet) {
    font-size: 1.333rem;
  }

  .flippedArrow {
    display: inline-block;

    transform: scaleX(-1);
  }
}

section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1500px;
  padding: 5.555rem 1.666rem;
  padding-bottom: 0;

  @media (max-width: @tablet) {
    padding: 4.888rem 1.111rem;
    padding-bottom: 0;
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #fff;
}

nav {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem 1.666rem;

  .navBarUL {
    list-style: none;
    display: flex;
    padding-top: 40px;
    font-size: 1rem;
    transition: padding-top 0.1s ease; /* Smooth transition for padding-top property */

    @media (max-width: @mobile) {
      overflow-x: scroll;
      -ms-scroll-snap-type: x;
      scroll-snap-type: x;
      scrollbar-width: none;
    }

    li {
      margin-right: 0.888rem;
    }
  }
}

// ---

// Navbar Overline Animation
.un {
  display: inline-block;
  position: relative;
}

.un:after {
  content: "";
  width: 0px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  background: @mainColor;
  transition: 0.3s ease;
}

.un:hover:after {
  width: 100%;
}

.un:not(:hover):after {
  right: 0;
  left: auto;
}

// ---

.separationDiv {
  border-top: 1px solid @mainColor;
  margin-top: 6.666rem;
  margin-bottom: -2.222rem;

  @media (max-width: @tablet) {
    // margin-top: 4.444rem;
  }
}

.landingSection {
  h1 {
    width: 60%;
  }

  video {
    margin-top: 4.444rem;

    @media (max-width: @tablet) {
      margin-top: 3.888rem;
    }
  }
}

.projectsSection {
  .splitGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 1.666rem;
  }
  .projectTitle {
    padding-bottom: 6.666rem;
    p {
      font-size: 2rem;
      width: 73%;
    }
  }

  .projectDiv {
    padding: 3.333rem 0;
    padding-bottom: 6.666rem;
    border-top: 1px solid @mainColor;

    .projectDescriptionAndLink {
      display: flex;
      justify-content: space-between;
      font-size: 1.222rem;
      column-gap: 2.222rem;

      @media (max-width: @tablet) {
        flex-direction: column;
        row-gap: 1.333rem;
      }

      .projectLink {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid @navLinksColor;
        font-size: 1.444rem;

        > :nth-child(2) {
          @media (max-width: @tablet) {
            padding-left: 1.666rem;
            padding-bottom: 1.111rem;
          }
        }
      }
    }
  }
}
