* {
  color: #515f44;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  line-height: 1.5em;
}
.wrapper {
  min-height: 80%;
  margin-bottom: -100px;
  padding-bottom: 100px;
}
body,
h1,
p {
  margin: 0;
  padding: 0;
}
/*
  Prerequisite CSS ends here and actual CSS starts below!
*/
body {
  background: #f9f7ea;
  margin: 1.5em;
}
a {
  text-decoration: none;
  border-bottom: 1px solid #ccd;
  font-size: 17px;
}
h1,
h2 {
  font-weight: 400;
}
h1 {
  font-size: calc(1.4rem) 0 0;
  margin: 0 0 calc(2 * 1.5em) 0;
  letter-spacing: 0;
}
h2 {
  margin: calc(1.7 * 1.5em) 0 0;
  font-size: 1.2rem;
  line-height: 1.5em;
  color: #a5af9b;
}
p {
  font-size: 17px;
}
li {
  margin-bottom: 0.3rem;
}
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5em;
  margin-bottom: calc(5 * 1.5em);
  line-height: 1.5em;
}
header nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}
header nav a {
  border-bottom: none;
}
header #cursiveImgDiv {
  width: 100%;
}
header #cursiveImgDiv a {
  border-bottom: none;
}
header #cursiveImg {
  width: 5rem;
  height: 2rem;
}
header #cursiveImg:hover {
  filter: hue-rotate(90deg);
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5em;
}
main #studyingMammothDiv {
  margin: 0 auto;
  width: 100%;
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -webkit-user-select: none;
  /* Safari and Chrome */
  -ms-user-select: none;
  /* IE 10+ and Edge */
  pointer-events: none;
}
main #studyingMammothDiv #studyingMammoth {
  display: block;
  margin: 0 auto;
  max-width: 28em;
  width: 65%;
}
.divTwo p {
  margin: 0 0 1rem;
  max-width: 35em;
}
.divThree {
  display: flex;
  flex-direction: column;
}
.divThree div {
  margin-left: 50%;
}
.divFour ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em;
  line-height: 1.5em;
  padding-top: calc(4 * 1.5em);
  padding-bottom: 1.5em;
  height: 100px;
  margin-left: 50%;
}
footer #copyrightDiv {
  display: flex;
  flex-direction: column;
}
footer #copyrightDiv span {
  margin-top: 1.5rem;
}
.footerSection a {
  display: flex;
  flex-direction: column;
  border-bottom: none;
}
.noBullets {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.hoverHighlightClass:hover {
  transition: opacity 0.1s;
  opacity: 0.7;
  color: #a5af9b;
}
