@mainColor: #1e2124;
@highlightColor: #b5b6b7;
@navLinksColor: #767676;

// Measurements:
@unit-unit-top-padding: 3.333rem;
@unit-unit-bottom-padding: 6.666rem;

// Media Queries:
@mobile: 35em;
@tablet: 60em;
@desktop: 1024px;
